/* font playfair */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

/*Top part of the page */
header {
    position: fixed;
    width: 100%;
    background-color: black;
    height: 10vh;
    display: flex;
    font-size: 4em;
}

/* middile page */

main {
    height: 100vh;
    position: relative;
    padding: 25px 20px 10px;
    width: 100%;
    color: white;
    background-color: black;
    top: 20px;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.console-container {
    display: flex;
    width: auto;
    color: white;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 25%;
    bottom: 50%;
    right: 25%;
    font-size: 40px;
}
.console-container a {
    font-size: 1.1em;
    color: white;
    text-decoration: none;
}
