@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Playfair Display', serif;
}

header, footer, main {
    position: fixed;
    width: 100%;
    padding: 20px 100px;
    width: 100%;
    color: white;
    background-color: black;
    
}

main{
  height: 75vh;
  bottom: 15%;
}

header{
    height: 10vh;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 100;
    justify-content: space-between;
    width: 100%;
    top: 0;
    left: 0;
}

footer{
    height: 15vh;
    bottom: 0;
}

main{
    height: 75vh;
    bottom: 15%;
}
/* footer */
.footerContainer{
    width: 100%;
    padding: 20px 30px 20px;

}

.socials{
    display: flex;
    justify-content: center;
}

.socials a{
    text-decoration: none;
    padding: 18px;
    background-color: black;
    margin: 10px;
    border-radius: 25%;
    display: flex;
    justify-content: center;
}

.socials a i{
    font-size: 1em;
    color: white;
    opacity: 0.9;
}

/*Hover effects for the footer*/
.socials a:hover{
    background-color: white;
    transition: 0.5s;
}

.socials a:hover i{
    color: black;
    transition: 0.5s;
}

/*for the main words*/

.logo {
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}


.navbar a{
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    
}

/* for the logo in the socials */
.logo * {
    box-sizing: border-box;
    transition: all .35s ease;
  }
  
  .logo li {
    display: inline-block;
    list-style: outside none none;
    margin: .5em 1em;
    padding: 0;
  }
  
  .logo a {
    padding: .5em .8em;
    color: rgb(255, 255, 255);
    position: relative;
    text-decoration: none;
    font-size: 20px;
  }
  
  .logo a::before,
  .logo a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
  }
  
  .logo a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid hsl(0, 0%, 100%);
    border-right: 3px solid hsl(0, 0%, 100%);
    transform: translate(-100%, 50%);
  }
  
  .logo a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid hsl(0, 0%, 100%);
    border-left: 3px solid rgb(192, 192, 192);
    transform: translate(100%, -50%)
  }
  
  .logo a:hover:before,
  .logo a:hover:after{
    transform: translate(0,0);
    opacity: 1;
  }
  
  .logo a:hover {
    color: hwb(0 86% 14%);
  }

.navbar * {
    box-sizing: border-box;
    transition: all .35s ease;
  }
  
  .navbar li {
    display: inline-block;
    list-style: outside none none;
    margin: .5em 1em;
    padding: 0;
  }
  
  .navbar a {
    padding: .5em .8em;
    color: rgb(255, 255, 255);
    position: relative;
    text-decoration: none;
    font-size: 20px;
  }
  
  .navbar a::before,
  .navbar a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
  }
  
  .navbar a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid hsl(0, 0%, 100%);
    border-right: 3px solid hsl(0, 0%, 100%);
    transform: translate(-100%, 50%);
  }
  
  .navbar a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid hsl(0, 0%, 100%);
    border-left: 3px solid rgb(192, 192, 192);
    transform: translate(100%, -50%)
  }
  
  .navbar a:hover:before,
  .navbar a:hover:after{
    transform: translate(0,0);
    opacity: 1;
  }
  
  .navbar a:hover {
    color: hwb(0 86% 14%);
  }

/* The form box text */
form{
  background: black;
  width: 640px;
  margin: 50px auto;
  max-width: 97%;
  border-radius: 0px;
  padding: 55px 30px;
}

form .title h2{
  letter-spacing: 6px;
  border-bottom: 1px solid white;
  display: inline-block;
  padding-bottom: 8px;
  margin-bottom: 32px;
}

form  .title .half .full .item {
  color: white;
}

form .half{
  display: flex;
  justify-content: space-between;

}

form .half .item{
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  width: 50%;
}

form label{
  display: block;
  font-size: 13px;
  letter-spacing: 3.5px;
  margin-bottom: 16px;
} 

form .half .item input{
  border-radius: 0px;
  border: 1px solid white;
  outline: 0;
  padding: 16px;
  width: 100%;
  height: 44px;
  background: transparent;
  font-size: 17px;

}

form .full{
  margin-bottom: 24px;

}

form .full textarea{
  background: transparent;
  border-radius: 4px;
  border: 1px solid white;
  outline: 0;
  padding: 12px 16px;
  width: 100%;
  height: 200px;
  font-size: 17px;

}

form .action{
  margin-bottom: 32px;
}

form .action input{
  background: transparent;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  height: 44px;
  letter-spacing: 3px;
  outline: 0;
  padding: 0 20px 0 22px;
  margin-right: 10px;
}


form .half .item input:focus , form .full textarea:focus{
  background: rgba(255, 255, 255, 0.75);
}







