@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Playfair Display', serif;
}

header, footer, main {
    position: fixed;
    width: 100%;
    padding: 20px 100px;
    width: 100%;
    color: white;
    background-color: black;
    
}

header{
    height: 10vh;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 100;
    justify-content: space-between;
    width: 100%;
    top: 0;
    left: 0;
}

footer{
    height: 15vh;
    bottom: 0;
}

main{
    min-height: 100%;
}

.footerContainer{
    width: 100%;
    padding: 20px 30px 20px;

}

.socials{
    display: flex;
    justify-content: center;
}

.socials a{
    text-decoration: none;
    padding: 18px;
    background-color: black;
    margin: 10px;
    border-radius: 25%;
    display: flex;
    justify-content: center;
}

.socials a i{
    font-size: 1em;
    color: white;
    opacity: 0.9;
}

/*Hover effects for the footer*/
.socials a:hover{
    background-color: white;
    transition: 0.5s;
}

.socials a:hover i{
    color: black;
    transition: 0.5s;
}

/*for the main words*/

.logo {
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    
}

.logo * {
    box-sizing: border-box;
    transition: all .35s ease;
  }
  
  .logo li {
    display: inline-block;
    list-style: outside none none;
    margin: .5em 1em;
    padding: 0;
  }
  
  .logo a {
    padding: .5em .8em;
    color: rgb(255, 255, 255);
    position: relative;
    text-decoration: none;
    font-size: 20px;
  }
  
  .logo a::before,
  .logo a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
  }
  
  .logo a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid hsl(0, 0%, 100%);
    border-right: 3px solid hsl(0, 0%, 100%);
    transform: translate(-100%, 50%);
  }
  
  .logo a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid hsl(0, 0%, 100%);
    border-left: 3px solid rgb(192, 192, 192);
    transform: translate(100%, -50%)
  }
  
  .logo a:hover:before,
  .logo a:hover:after{
    transform: translate(0,0);
    opacity: 1;
  }
  
  .logo a:hover {
    color: hwb(0 86% 14%);
  }

.navbar * {
    box-sizing: border-box;
    transition: all .35s ease;
  }
  
  .navbar li {
    display: inline-block;
    list-style: outside none none;
    margin: .5em 1em;
    padding: 0;
  }
  
  .navbar a {
    padding: .5em .8em;
    color: rgb(255, 255, 255);
    position: relative;
    text-decoration: none;
    font-size: 20px;
  }
  
  .navbar a::before,
  .navbar a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
  }
  
  .navbar a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid hsl(0, 0%, 100%);
    border-right: 3px solid hsl(0, 0%, 100%);
    transform: translate(-100%, 50%);
  }
  
  .navbar a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid hsl(0, 0%, 100%);
    border-left: 3px solid rgb(192, 192, 192);
    transform: translate(100%, -50%)
  }
  
  .navbar a:hover:before,
  .navbar a:hover:after{
    transform: translate(0,0);
    opacity: 1;
  }
  
  .navbar a:hover {
    color: hwb(0 86% 14%);
  }

/* The main text */

  .summary-container {
	  height: 20vh;
	  
  }

  h1 {
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  color: white;
  outline: none;
  text-align: center;
}

h1:hover {
  font-variation-settings: "wght" 582; 
  letter-spacing: 1px;
}

p {
  font-size: 1.2em;
  line-height: 150%;
  text-align: center;
  color: MintCream;
  letter-spacing: .5px;
}


.content{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*this will be the summary boxes*/

.about-section{
  display: flex;
  flex-direction: column;
}

.text-container {
  margin: 0 auto;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  height: calc(180px + 1rem);
  padding: 1rem;
  max-width: 480px;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
}

.text-container > section{
  scroll-snap-align: center;
}

.text-container h2 p{
  width: 180px;
  max-width: none;
  object-fit: contain;
  border-radius: 1rem;
}
/*
section {
  flex: 0 0 auto; 
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}*/

h2{
  margin-bottom: 10px;
}

p{
  max-width: 400px;
}
/*
section:nth-child(odd){
  background-color: transparent;
  color: white;
}*/