/*Playfair font*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
/*IBM Mono*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Playfair Display', serif;
}

header, footer, main {
    position: fixed;
    width: 100%;
    padding: 20px 100px;
    width: 100%;
    color: white;
    background-color: black;
    
}

header{
    height: 10vh;
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 100;
    justify-content: space-between;
    width: 100%;
}

footer{
    height: 20vh;
    bottom: 0;
}

main{
    min-height: 100%;
}

.footerContainer{
    width: 100%;
    padding: 20px 30px 20px;

}

.socials{
    display: flex;
    justify-content: center;
}

.socials a{
    text-decoration: none;
    padding: 18px;
    background-color: black;
    font-size: 4em;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.socials a i{
    font-size: 32px;
    color: white;
    opacity: 1;
}

/*Hover effects for the footer*/
.socials a:hover{
    background-color: #0f0f0f;
    transition: 0.5s;
}

.socials a:hover i{
    color: white;
    transition: 0.5s;
}

/*for the main words*/

.logo {
    font-size: 32px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    font-size: 20px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    
}

.logo * {
    box-sizing: border-box;
    transition: all .35s ease;
  }
  
  .logo li {
    display: inline-block;
    list-style: outside none none;
    margin: .5em 1em;
    padding: 0;
  }
  
  .logo a {
    padding: .5em .8em;
    color: rgb(255, 255, 255);
    position: relative;
    text-decoration: none;
    font-size: 20px;
  }
  
  

/* The main text */

  .title-container {
	  min-height: 5vh;
    position: fixed;
    top: 25%;
  }

  h1 {
  font-size: 3em;
  text-transform: lowercase;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  color: white;
  outline: none;
  text-align: center;
}

h1:hover {
  font-variation-settings: "wght" 582; 
  letter-spacing: 1px;
}

p {
  font-size: 1.2em;
  line-height: 150%;
  text-align: center;
  color: white;
  letter-spacing: .5px;
}


.content{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*this will be the summary boxes*/

.about-section{
  display: flex;
  flex-direction: column;
  min-height: 30vh;
}



section {
  flex: 0 0 auto; 
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.box {
  width: 100px;
  height: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  line-height: 100px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.box:hover {
  background-color: #0f0f0f;
}

.box-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background-color: black;
  width: 100%; 

}
/*
.paragraph-container{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 50vh;
	box-sizing: border-box;
	width: 900px;



	
}
*/
.paragraph-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  font-size: 18px;
  height: 50vh;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

